@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css);
body {
  font-family: 'cwTeXMing', 'cwTeXFangSong', 'Noto Sans TC', 'cwTeXYen', 'Helvetica', 'cwTeXKai', sans-serif !important;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("./img/bg.jpg");
	display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}

#title_container {
  height: 10%;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: sans-serif, 'Noto Sans TC', 'cwTeXKai', 'cwTeXYen', 'Helvetica', 'cwTeXMing', 'cwTeXFangSong', !important;
  font-size: 10vmin;
  color: gray;
  /* font-weight: bold; */
}


#form_container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

#reader_container {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

#google_form {
  width: 40%;
  border: 3px solid rgb(255, 255, 255); /* 邊框顏色 */
  border-radius: 3vmin; /* 圓角 */
  background-color:rgba(255, 255, 255, 1);
  padding: 2vmin;
}

#reader {
  width: 60%;
  aspect-ratio: 2;
}

#google_form_fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vmin;
  border: 0px solid #000000; /* 邊框顏色 */
}
.filed_group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5vmin;
}

.filed_group > label {
  font-size: 2vmin;
  text-align: right;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding-left: 1vmin;
}

.filed_group > input[type="text"] {
  width: 100%;
  font-size: 3vmin;
  border: 1px solid rgb(240, 240, 240); /* 邊框顏色 */
  border-radius: 2vmin; /* 圓角 */
  background-color: rgb(240, 240, 240);
  padding-left: 1vmin;
}

.submit_filed_group {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.submit_filed_group > input[type="submit"] {
  width: 100%;
  background-color: #ff8800; /* 按鈕背景顏色 */
  color: #fff; /* 按鈕文字顏色 */
  border: none;
  border-radius: 5px; /* 圓角 */
  font-size: 3vmin;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 按鈕 hover 效果 */
.submit_filed_group > input[type="submit"]:hover {
  background-color: rgb(160, 80, 0); /* hover 顏色 */
}

#reader__dashboard {
  background-color: rgb(255, 255, 255); /* hover 顏色 */
}

#reader__scan_region {
  background-color: rgb(255, 255, 255); /* hover 顏色 */
}

.html5-qrcode-element {
  font-size: 2vmin;
}