@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css);
body {
  font-family: 'cwTeXMing', 'cwTeXFangSong', 'Noto Sans TC', 'cwTeXYen', 'Helvetica', 'cwTeXKai', sans-serif !important;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("./img/bg.jpg");
	display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2vmin;
}

#title_container {
  margin-top: 5vmin;
  height: 10%;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: sans-serif, 'Noto Sans TC', 'cwTeXKai', 'cwTeXYen', 'Helvetica', 'cwTeXMing', 'cwTeXFangSong', !important;
  font-size: 10vmin;
  color: gray;
  /* font-weight: bold; */
}


#form_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

#reader_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

#google_form {
  width: 60%;
  border-radius: 3vmin; /* 圓角 */
  background-color: transparent; /* 设置表单背景透明 */
  padding: 2vmin;
}

#reader {
  width: 60%;
  aspect-ratio: 3;
  border: 1px solid #EEEEEE;
  border-radius: 2vmin;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* 将 legend 内容水平居中 */
  gap: 2vmin;
  border: 3px solid #07455d; /* 邊框顏色 */
  background-color: rgba(23, 107, 135, 0.3);
  border-radius: 2vmin;
}

legend {
    font-family: 'cwtexyen', sans-serif; /* 更改字体 */
    font-size: 8vmin; /* 字體大小 */
    font-weight: bold; /* 字體粗細 */
    color: #EEEEEE; /* 字體顏色 */
    margin-bottom: 20px; /* 下邊距 */
    padding: 0 1vmin; /* 內邊距 */
    word-spacing: 0.5em; /* 增加字母间距 */
    text-shadow: 5px 5px #042938; /* 立体效果 */
}

.filed_group {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1vmin;
}

.filed_group > label {
  font-size: 2.5vmin;
  text-align: right;
  font-weight: bold;
  color: #EEEEEE; /* 顏色 */
  padding-left: 0.5vmin;
  box-sizing: border-box; 
}

.filed_group > input[type="text"] {
  width: 100%;
  font-size: 3vmin;
  border: 0.3vmin solid #64CCC5;
  border-radius: 1vmin; /* 圓角 */
  background-color: rgba(5, 59, 80, 0.7); 
  color: #ffffff;
  box-sizing: border-box; 
}

.submit_filed_group {
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.submit_filed_group > input[type="submit"] {
  font-family: 'notosanst', sans-serif;
  font-size: 3vmin;
  width: 25%; /* 按钮宽度 */
  background: linear-gradient(135deg, #1a7493, #41908b);
  color: #EEEEEE; 
  border: none;
  padding: 1.5vmin 3vmin; 
  border-radius: 1vmin; /* 圓角 */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; 
  box-shadow: 0 1vmin 3vmin rgba(0, 0, 0, 0.5); 
}

/* 按鈕 hover 效果 */
.submit_filed_group > input[type="submit"]:hover {
  background-color: rgb(160, 80, 0); /* hover 顏色 */
}

#reader__dashboard {
  background-color: rgb(255, 255, 255); /* hover 顏色 */
}

#reader__scan_region {
  background-color: rgb(255, 255, 255); /* hover 顏色 */
}

.html5-qrcode-element {
  font-size: 2vmin;
}