body {
    margin:0px;
    padding:0px;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#div_content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#div_container{
/*     max-width: 100%;
    max-height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.img_card {
    max-width: 100%;
    max-height: 100%;
}
