body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  /* background: linear-gradient(#053B50, #176B87); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./img/bg.jpg") no-repeat center center;
  background-size: cover;
  z-index: -2; 
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 59, 80, 0.8); 
  z-index: -1; /* 确保颜色层在背景图片上面 */
}
img.overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 0; /* 确保图像在半透明颜色层上面 */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.message-box {
  background-color: rgba(238, 238, 238, 0.95);
  border: 5px solid #1c6f8b;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  max-width: 800px; 
  width: 100%;
}

/* 标题样式 */
.congratulations {
    padding-top: 1em;
    font-size: 5em;
    color: #053B50;
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: bold;
}

/* 信息样式 */
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
}

.info-item {
    margin: 0 10px;
    font-weight: bold;
    /* margin-bottom: 15px; */
    color: #053B50;
}
.course-completion {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    padding-top: 15px;
    padding-bottom: 1em;
  }
/* 完成消息样式 */
.completion-message {
    color: #053B50;
    font-weight: bold;
    margin: 0px; 
}

@media screen and (min-aspect-ratio: 13/20) {
  .container {
    transform: scale(0.8);
  }
  img.overlay{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8); 
  }
}
@media screen and (orientation: landscape) {
  .container {
    position: fixed; /* 固定定位 */
    bottom: 0px; 
    left: 50%; 
    transform: translateX(-50%) scale(0.6);
  }
  img.overlay{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.75);
  }
}